<!DOCTYPE html>
<html>

<head>
  <title>Langan poisto</title>
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
  />
</head>

<body>
  <h1>Langan poisto</h1>
  <p>Ilmoitus: {{  thread["title"]  }} </p>
  <p>Oletko varma, että haluat poistaa langan?</p>
  <form action="/delete_thread/{{  thread["id"]  }}" method="post">
    <input type="submit" name="remove" value="Poista lanka" />
    <input type="submit" name="back" value="Peruuta" />
  </form>
</body>

</html>

