<!DOCTYPE html>
<html>

<head>
  <title>Foorumi Tsoha</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <h1>Foorumi Tsoha</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut käyttäjänä <a href="/users/{{ session.user_id }}">{{ session.username }}</a>.
  </p>

  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/new_thread">Uusi lanka</a>
    <a href="/find_thread">Etsi lanka</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>

  <p>
    <a href="/find_thread">Etsi lanka</a>
  </p>
  {% endif %}
  <h2>Langat</h2>
  <ul>
    {% for thread in threads %}
    <li><a href="/threads/{{  thread.id  }}">{{ thread.title }}</a></li>
    {% endfor %}
  </ul>
  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />
</body>

</html>