<!DOCTYPE html>
<html>

<head>
  <title>Uusi lanka</title>
</head>

<body>
  <h1>Uusi lanka</h1>
  <form action="/create_thread" method="post">
    <p>
      Otsikko: <br />
      <input required type="text" name="title" size="70" maxlength="100" />
    </p>
    <p>
      Leipäteksti: <br />
      <textarea required name="body" rows="15" cols="70" maxlength="5000"></textarea>
    </p>
    <p>
      Avainsanat: <br />
      <input type="text" name="tags" size="35" maxlength="100" placeholder="#kissat #videopelit #urheilu"
        pattern="\s*#\S+(?:\s+#\S+)*\s*" />
    </p>
    <input type="submit" value="Luo lanka" />
  </form>
  <a id="back" class="button" href="/">Takaisin</a>
</body>

</html>