<!DOCTYPE html>
<html>

<head>
  <title>{{ thread["title"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <h1>{{ thread["title"] }}</h1>
  {% if session["user_id"] == thread["user_id"] %}
  <p class="edit" class="button">
    <a href="/edit_thread/{{ thread['id'] }}">Muokkaa</a>
  </p>
  {% endif %}
  <div class="meta-div">
    <p class="creator">Luonut: <a href="/users/{{ thread['user_id'] }}">{{ thread['username'] }}</a></p>
    <p class="created-at">{{ thread["created_at"] }}</p>
  </div>
  <p class="body p">{{ thread["body"] }}</p>
  <ul>
    {% for tag in thread["tags"] %}
    <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  <p>
    <a href="/">Takaisin</a>
  </p>
  <div>
    {% if "user_id" in session %}
    <form action="/vote" method="post">
      <input type="hidden" name="voter_id" value="{{ session.user_id }}" />
      <input type="hidden" name="thread_id" value="{{ thread.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      {% if thread.has_user_voted %}
      <input type="hidden" name="remove_vote" value="1" />
      <input class="button" type="submit" value="Poista ääni" />
      {% else %}
      <input type="hidden" name="remove_vote" value="" />
      <input class="button" type="submit" value="Äänestä" />
      {% endif %}
    </form>
    {% endif %}
    {% if thread.votes == 1 %}
    <p>{{ thread.votes }} ääni</p>
    {% else %}
    <p>{{ thread.votes }} ääntä</p>
    {% endif %}
  </div>
  <div>
    {% if "user_id in session" %}
    <details>
      <summary>Kommentoi</summary>
      <form action="/create_comment" method="post">
        <label for="body">Kirjoita kommentti</label> <br />
        <textarea required name="body" rows="10" cols="50" maxlength="3000"></textarea>
        <input type="hidden" name="thread_id" value="{{ thread.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Luo kommentti" />
      </form>
    </details>
    {% endif %}

    {% if thread.comments | length != 0 %}
    <h2>Kommentit</h2>
    <ul>
      {% for parent in thread.comments %}
      <li class="comment" id="{{ parent.id }}">
        <details open>
          <summary class="hide_comment"></summary>
          <p class="commenter"><a href="/users/{{ parent.user_id }}">{{ parent.username }}</a></p>
          <p class="body p">{{ parent.body }}</p>
          {% if session.user_id == parent.user_id %}
          <form class="update-comment" action="/update_comment" method="post">
            <label for="body">Muokkaa kommenttia</label> <br />
            <textarea required name="body" rows="10" cols="50" maxlength="3000">{{ parent.body }}</textarea>
            <input type="hidden" name="thread_id" value="{{ thread.id }}" />
            <input type="hidden" name="comment_id" value="{{ parent.id }}" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Päivitä kommenttia" />
          </form>
          {% endif %}
          <p>{{ parent.created_at_local }}</p>

          <div class="comment-interact">
            {% if "user_id" in session %}
            {% if parent.id in thread.voted_comments %}
            <form action="/vote_comment" method="post">
              <input type="hidden" name="voter_id" value="{{ session.user_id }}" />
              <input type="hidden" name="comment_id" value="{{ parent.id }}" />
              <input type="hidden" name="remove_vote" value="1" />
              <input type="hidden" name="thread_id" value="{{ thread.id }}" />
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
              <input class="button" type="submit" value="Poista ääni" />
            </form>
            {% else %}
            <form action="/vote_comment" method="post">
              <input type="hidden" name="voter_id" value="{{ session.user_id }}" />
              <input type="hidden" name="comment_id" value="{{ parent.id }}" />
              <input type="hidden" name="remove_vote" value="" />
              <input type="hidden" name="thread_id" value="{{ thread.id }}" />
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
              <input class="button" type="submit" value="Äänestä" />
            </form>
            {% endif %}
            {% if session.user_id == parent.user_id %}
            <input class="edit-checkbox" id="edit-checkbox-{{ parent.id }}" name="edit-checkbox" type="checkbox" />
            <label for="edit-checkbox-{{ parent.id }}">Muokkaa</label>

            <button command="show-modal" commandfor="delete-comment-dialog">
              Poista
            </button>
            <dialog id="delete-comment-dialog">
              <p>
                Haluatko varmasti poistaa kommentin?
              </p>
              <button commandfor="delete-comment-dialog" command="close">Peruuta</button>
              <form action="/delete_comment" method="post">
                <input type="hidden" name="comment_id" value="{{ parent.id }}" />
                <input type="hidden" name="thread_id" value="{{ thread.id }}" />
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="submit" value="Kyllä, poista kommentti" />
              </form>
            </dialog>
            {% endif %}
            {% endif %}
            {% if parent.votes == 1 %}
            <p>{{ parent.votes }} ääni</p>
            {% else %}
            <p>{{ parent.votes }} ääntä</p>
            {% endif %}
            {% if "user_id" in session %}
            <details>
              <summary>Vastaa</summary>
              <form action="/create_comment" method="post">
                <label for="body">Kirjoita vastaus</label> <br />
                <textarea required name="body" rows="10" cols="50" maxlength="3000"></textarea>
                <input type="hidden" name="thread_id" value="{{ thread.id }}" />
                <input type="hidden" name="parent_comment_id" value="{{ parent.id }}" />
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="submit" value="Luo vastaus" />
              </form>
            </details>
            {% endif %}
          </div>
          {% if parent.children | length > 0 %}
          <section class="child-comments">
            <h3>Vastaukset</h3>
            <ul>
              {% for child in parent.children | reverse %}
              <li id="{{ child.id }}">
                <details open>
                  <summary class="hide_comment"></summary>
                  <p class="commenter"><a href="/users/{{ parent.user_id }}">{{ parent.username }}</a></p>
                  <p class="body p">{{ child.body }}</p>
                  {% if session.user_id == child.user_id %}
                  <form class="update-comment" action="/update_comment" method="post">
                    <label for="body">Muokkaa vastausta</label> <br />
                    <textarea required name="body" rows="10" cols="50" maxlength="3000">{{ child.body }}</textarea>
                    <input type="hidden" name="thread_id" value="{{ thread.id }}" />
                    <input type="hidden" name="comment_id" value="{{ child.id }}" />
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Päivitä vastausta" />
                  </form>
                  {% endif %}
                  <p>{{ child.created_at_local }}</p>

                  <div class="comment-interact">
                    {% if "user_id" in session %}
                    <form action="/vote_comment" method="post">
                      <input type="hidden" name="voter_id" value="{{ session.user_id }}" />
                      <input type="hidden" name="comment_id" value="{{ child.id }}" />
                      <input type="hidden" name="thread_id" value="{{ thread.id }}" />
                      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                      {% if child.id in thread.voted_comments %}
                      <input type="hidden" name="remove_vote" value="1" />
                      <input class="button" type="submit" value="Poista ääni" />
                      {% else %}
                      <input type="hidden" name="remove_vote" value="" />
                      <input class="button" type="submit" value="Äänestä" />
                      {% endif %}
                    </form>
                    {% if session.user_id == child.user_id %}
                    <input class="edit-checkbox" id="edit-checkbox-{{ child.id }}" name="edit-checkbox"
                      type="checkbox" />
                    <label for="edit-checkbox-{{ child.id }}">Muokkaa</label>

                    <button command="show-modal" commandfor="delete-reply-dialog">
                      Poista
                    </button>
                    <dialog id="delete-reply-dialog">
                      <p>
                        Haluatko varmasti poistaa vastauksen?
                      </p>
                      <button commandfor="delete-reply-dialog" command="close">Peruuta</button>
                      <form action="/delete_comment" method="post">
                        <input type="hidden" name="comment_id" value="{{ child.id }}" />
                        <input type="hidden" name="thread_id" value="{{ thread.id }}" />
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                        <input type="submit" value="Kyllä, poista vastaus" />
                      </form>
                    </dialog>
                    {% endif %}
                    {% endif %}
                    {% if child.votes == 1 %}
                    <p>{{ child.votes }} ääni</p>
                    {% else %}
                    <p>{{ child.votes }} ääntä</p>
                    {% endif %}
                  </div>
                </details>
              </li>
              {% endfor %}
            </ul>
          </section>
          {% endif %}
        </details>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>Ei kommentteja</h2>
    {% endif %}
  </div>
</body>

</html>