<!DOCTYPE html>
<html>

<head>
  <title>{{  thread["title"]  }}</title>
</head>

<body>
  <h1>{{  thread["title"]  }}</h1>
  {% if session["user_id"] == thread["user_id"] %}
  <p>
    <a href="/edit_thread/{{  thread["id"]  }}">Muokkaa</a>
  </p>
  {% endif %}
  <p>Luonut: {{  thread["username"]  }}</p>
  <p>{{  thread["created_at"]  }}</p>
  <p>
    {{  thread["body"]  }}
  </p>
  <ul>
    {% for tag in thread["tags"] %}
    <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>
