<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä {{ user["username"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <h1>Käyttäjä {{ user["username"] }}</h1>
  {% if user.has_pfp %}
  <img src="/pfp/{{ user.id }}" />
  {% endif %}
  {% if session["user_id"] == user["id"] %}
  <details>
    <summary>
      {% if user.has_pfp %}
      Muokkaa profiilikuvaa
      {% else %}
      Lisää profiilikuva
      {% endif%}
    </summary>
    <form action="/update_pfp" method="post" enctype="multipart/form-data">
      <label for="pfp">Kuva: </label>
      <input type="file" name="pfp" accept="image/png, image/jpeg" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
  </details>
  {% endif %}
  <p id="karma">Karma: {{ user["votes_received"] }}</p>

  {% if threads_by_user | count == 0 %}
  <p>
    Käyttäjä ei ole aloittanut lankoja.
  </p>
  {% elif threads_by_user | count == 1 %}
  <p>
    Käyttäjä on aloittanut {{ threads_by_user | count }} langan.
  </p>
  {% else %}
  <p>
    Käyttäjä on aloittanut {{ threads_by_user | count }} lankaa.
  </p>
  {% endif %}
  {% if threads_by_user | count != 0 %}
  <h2>Käyttäjän langat</h2>
  <ul>
    {% for thread in threads_by_user %}
    <li>
      <a href="/threads/{{ thread.id }}">{{ thread.title }}</a>
      {% if thread.tags %}
      <ul id="tag-list">
        {% for tag in thread.tags %}
        <li id="tag">
          <a href="/find_thread?query={{ tag | tag_text }}">{{ tag }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>

    {% endfor %}
  </ul>
  {% endif %}
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>